@import "https://unpkg.com/normalize.css";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/open-props.min.css";
/*REVISAR EL COLOR DE FONODO*/
:root {
  --size: 60vmin;
}
/*Body*/
body {
      background: #3a1820;
/*CSS Mobile first*/
.column {
  width: 100%;
}

/*flex box*/

<style>
  main {
    background: #3a1820;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div {
    background: #767775;
    flex-basis: 100%;
    height: 100px;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    
  }
</style>

}

/*Banner principal: Narrativas heredadas*/

section {
  height: 100vh;
  width: 200vw;
  padding: 0;
  display: grid;
  place-items: center;
  max-inline-size: 100%;
  background-image: url("https://i.pinimg.com/564x/1c/e3/8b/1ce38b8ca7461d75f3cb50afdad39397.jpg");
  /*foto mega mega tentativa, solo para ver si funcionaba la foto como fon*/
 	background-size: 100px 100px;
       background-size: 100% 100%;
 }


h1 {
  max-inline-size: 100%;
  font-family: Garamond;
  text-transform: uppercase;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #f8dbda;
  transition: all 0.3s ease;
  z-index: 3;

}
 
 
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: white;
}

h2{
  font-family: Garamond;
  text-transform: uppercase;
  font-size: 35px;
  margin: 40px;
  padding-top: 30px;
	  color: #f8dbda;
max-inline-size: 100%;
text-align:center;
  z-index: 3;
}

h3{
  font-family: nunito;
 font-size: 20px;
  margin: 40px;
  padding-top: 10px;
  letter-spacing: 0px;
  color: white;
 max-inline-size: 100%;
}
h4{
  font-family: nunito;
 font-size: 15px;
  margin: 40px;
  padding-top: 10px;
  letter-spacing: 0px;
  color: white;
	max-inline-size: 100%;
}

h5{
  font-family: garamond;
 font-size: 15px;
  margin: 40px;
  padding-top: 0px;
  padding-bottom:20px;
  letter-spacing: 0px;
  color: #f8dbda;
   z-index: 3;
   max-inline-size: 100%;
}
li{
 max-inline-size: 100%;
}

h6{ /*pie de foto*/
  font-family: garamond;
 font-size: 15px;
   color: #f8dbda;

}
/*Galeria*/



.wrapper {
display:grid;  
grid-template-rows: auto;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap:10px;
background-color: #3a1820;
max-width:1300px;
margin: 0 auto;
 padding-top: 20px;
  padding-bottom: 20px;

}

.box {
background-position:center center;
background-size:cover;
min-height:200px;
border:5px solid #f8dbda;
position: relative;
}

/*Falda Lolita-Ana*/
.box:nth-child(1) {
background-image: url('https://i.pinimg.com/474x/e1/bd/03/e1bd034f8f51020af134458038a5ec3d.jpg');  
  
   display: block;
       cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}
.box:nth-child(1):hover {
background: url(https://i.pinimg.com/474x/51/3d/96/513d96fba15eec22a6f4eb4b82ae1faa.jpg) no-repeat;
background-position:center center;
background-size:cover;
  
   display: block;
       cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

#narrativa1 {
		display:block;
           height:200px;
           width:200 px;
		    text-indent:-9999px;
}

/*Saco Sara-Sandra*/
.box:nth-child(2) {
background-image: url('https://i.pinimg.com/474x/5e/67/23/5e6723b41cf1a2f0614d3ec0eebc5f98.jpg');  
       background-size:cover; /*revisar si dejarlo con background-size:70% 100% o con cover, si es con cover como escalar la imagen*/
	    display: block;
       cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}
.box:nth-child(2):hover {
background: url(https://i.pinimg.com/474x/f2/1b/12/f21b126790423d226cbe855c1105504f.jpg) no-repeat;

background-position:center center;
background-size:cover;
 display: block;
       cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}

#narrativa2 {
		display:block;
           height:200px;
           width:200 px;
		    text-indent:-9999px;
}

/*Camiseta Natalia-Ana*/

.box:nth-child(3) {
background-image: url('https://i.pinimg.com/564x/72/99/62/7299624987a8c2a6e6b0c74c08a09d08.jpg');  
grid-column: auto / span 2;
 display: block;
       cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}
.box:nth-child(3):hover {
background: url(https://i.pinimg.com/474x/18/c9/21/18c9213e73f5925dd20aca58143eab50.jpg) no-repeat;

background-position:center center;
background-size:70% 220%;
 display: block;
       cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;

}

#narrativa3 {
		display:block;
           height:200px;
           width:200 px;
		    text-indent:-9999px;
}

/*Panatalón William-Alicia*/
.box:nth-child(4) {
background-image: url('https://i.pinimg.com/474x/15/31/91/1531917b85a1097cdd5b5412aa0ba5d5.jpg');
background-size: 80% 100%;  

}
.box:nth-child(4):hover {
background: url(https://i.pinimg.com/474x/5b/f9/98/5bf9988cb7bb7e8dd7463f5be5d107ee.jpg) no-repeat;

background-position:center center;
background-size:cover;

  
}
#narrativa4 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/*Falda Lucía-Stefany*/
.box:nth-child(5) {
background-image: url('https://i.pinimg.com/474x/65/d2/f3/65d2f30a7c08cb85aa2d7bbfd0781808.jpg'); 
grid-template-column: auto / span 2;
}
.box:nth-child(5):hover {
background: url(https://i.pinimg.com/474x/65/1b/a0/651ba075059f765c8949917f7d5c1e73.jpg) no-repeat;

background-position:center center;
background-size:cover;
}
#narrativa5 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/*Vestido de novia Sandra-Sara*/

.box:nth-child(6) {
background-image: url('https://i.pinimg.com/474x/de/60/3d/de603d2ef994e77a221bd674e315fef3.jpg');   
grid-column: auto / span 2;
grid-row: auto / span 2;
background-size: 100% 100%;
}
.box:nth-child(6):hover {
background: url(https://i.pinimg.com/474x/61/cf/8d/61cf8d9941524e2524aa0014c506434c.jpg) no-repeat;

background-position:center center;
background-size: 70% 130%;
}

#narrativa6 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/*Saco Celso-Nicolás*/
.box:nth-child(7) {
background-image: url('https://i.pinimg.com/474x/ca/af/69/caaf696daa907a391fb931ad6c0e57d6.jpg');  
}
.box:nth-child(7):hover {
background: url(https://i.pinimg.com/564x/e9/4a/27/e94a27067304f7bc30aa776af8313191.jpg) no-repeat;

background-position:center center;
background-size:cover;
}

#narrativa7 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/*Saco Jorge-Nicolás*/
.box:nth-child(8) {
background-image: url('https://i.pinimg.com/474x/b1/9e/83/b19e83e2b66767e7e35b8a6dfb527808.jpg');   
}
.box:nth-child(8):hover {
background: url(https://i.pinimg.com/564x/d5/b4/14/d5b41487bd824afdd07af77138e27fe1.jpg) no-repeat;

background-position:center center;
background-size:cover;
}

#narrativa8 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}
/*Blusa Erika-Paula*/
.box:nth-child(9) {
background-image: url('https://i.pinimg.com/474x/bc/ef/ba/bcefbae86e4418eb1b79a9a580030cd1.jpg');  /*TRATAR DE BAJAR UN POCO LA IMAGEN*/
}
.box:nth-child(9):hover {
background: url(https://i.pinimg.com/474x/b4/b6/11/b4b611be2aaf8ff609a34f0c43e96b10.jpg) no-repeat;

background-position:center center;
background-size:cover;
}

#narrativa9 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/*Vestido Elvira-Paula*/
.box:nth-child(10) {
background-image: url('https://i.pinimg.com/474x/cb/18/39/cb1839f201bdd66d875ed6fed363145d.jpg');   
background-size: 80% 200%;
}
.box:nth-child(10):hover {
background: url(https://i.pinimg.com/564x/df/99/5c/df995cf88fd44e2789d6c6e4e11f398b.jpg) no-repeat;

background-position:center center;
background-size:cover;
}

#narrativa10 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/*Vestido Lolita-Ana*/
.box:nth-child(11) {
background-image: url('https://i.pinimg.com/564x/6d/34/6b/6d346b7e95feb9d85534b947455b4f46.jpg');  
}
.box:nth-child(11):hover {
background: url(https://i.pinimg.com/474x/25/0c/86/250c86ca032aa1d23e205d356b65401e.jpg) no-repeat;

background-position:center center;
background-size:cover;
}

#narrativa11 {
		display:block;
           height:200px;
           width:200 px;
text-indent:-9999px;
}

/* MEDIA QUERIES */

@media screen and (max-width:1214px) {
  .wrapper {
  margin: 0 15px;
  }
}

@media screen and (max-width:1069px) {
.box:nth-child(19) {  
    grid-column: auto / span 4;
    grid-row: auto / span 2;  
 }
}

@media screen and (max-width:650px) {
  .box {
  grid-column: auto / span 1 !important;
  grid-row: auto / span 1 !important;
  }
}

/*Barra de navegación*/

/*Aspectos generales*/

.nav-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0; 
  bottom: 10;
  width: 100%;
  height: 50px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: #f8dbda;
  z-index: 50;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}


/*Aspectos de cada elemento o item de la barra de navegación*/
.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 15px;
}

/*Aspectos de cada elemento o item cuando pasas el cursor*/
.nav-tab:hover {
  color: #1e1f26;
  background: grey;
  transition: all 0.5s ease;
}

/*Desarrollo del menu*/


#objetivos{
display: none;

}
#narrativashereradas{
display: none;
}

table {
		/* alineación horizontal */
    margin: 0 auto;
    border-collapse: collapse;
}

#PorQue{
display: none;
}
#referencias{
display: none;
}
#Sophie{
	height:250px;
width:250px;
text-align:center;}


		
		
		
		
		
		
		
		
		
		
		
		
		
		



